@charset "UTF-8";
html {
  font-size: 100px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

html {
  font-size: 100px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

.header {
  width: 100%;
  height: 1rem;
  background: #29a6dc;
  position: relative;
}

.header_L {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  background: url(../imgs/header/header01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.6rem 0.6rem;
}

.header_R {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  background: url(../imgs/header/header02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.6rem 0.6rem;
}

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

.header_c {
  width: auto;
  height: 0.6rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0rem;
  bottom: 0;
  margin: auto;
  color: white;
  text-align: center;
}

.header_c .header-t {
  height: 60%;
  line-height: 100%;
  font-size: 18px;
  position: relative;
}

.header_c .header-t img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.1rem;
  margin: auto;
}

.header_c .header-b {
  height: 40%;
  line-height: 100%;
  color: #90dcff;
  font-size: 14px;
}

/* 头部*/
.in-tittle {
  width: 80%;
  height: 1.2rem;
  margin: .1rem auto;
  background: url(../imgs/information/2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.in-tittle .in-my {
  width: 40%;
  height: 100%;
  position: absolute;
  right: .1rem;
  top: .15rem;
  background: url(../imgs/information/3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.in-tittle .in-my .in-my-font {
  width: 100%;
  height: 100%;
  background: url(../imgs/information/my.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.in-tittle .in-fen {
  width: .2rem;
  height: 0.7rem;
  background: url(../imgs/information/10.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0rem;
  bottom: 0;
  margin: auto;
}

.in-tittle .system {
  width: 40%;
  height: 100%;
  position: absolute;
  left: .1rem;
  top: .15rem;
  background: url(../imgs/information/3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.in-tittle .system .system-font {
  width: 100%;
  height: 0.9rem;
  background: url(../imgs/information/system.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
