@import 'ziliao.scss';

a{
    text-decoration: none;
}

$img-path:"../imgs/";

.shuru{
    width: 95%;
    height: 2.4rem;
    margin: 15px auto;
    position: relative;
    input{
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        margin-bottom: 0.3rem;
        padding-left: 8px;
        border: 2px solid #29A6DC;
        border-radius: 5px;
        outline: none;
        background: transparent;
        box-sizing: border-box;
        color: #999999;
        font-size: 16px;
    }
    .huoqu{
       width: 1.5rem;
       height: 0.7rem;
       line-height: 0.7rem;
       background: #29A6DC;
       position:absolute; 
       bottom:0.2rem;
       right: 0.2rem; 
       text-align: center;
       color: #fff;
        font-size: 14px;
    }
}
.yes{
    width: 50%;
    height: 0.8rem;
    line-height: 0.8rem;
    margin: 20px auto;
    text-align: center;
    border-radius: 7px;
    background: #29A6DC;
    color: #fff!important;
    font-size: 20px;
    outline: none;
    a{
       color: #fff!important; 
    }
}
.qie{
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    margin: 20px auto;
    text-align: center;
    border-radius: 7px;
//  background: #fff;
    color: #29A6DC;
    font-size: 20px;
    
}





