html {
  font-size: 100px; }

* {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  font-size: 16px; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

* {
  position: relative;
  box-sizing: border-box; }

.header-gy {
  height: 1.6rem;
  width: 100%;
  background: #29A6DC; }
  .header-gy .circle {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #1D79C3;
    position: absolute;
    bottom: 0.2rem;
    left: 0.2rem;
    text-align: center;
    line-height: 0.7rem;
    font-size: 0.4rem;
    font-weight: 600;
    color: #29A6DC; }
  .header-gy .navbar {
    width: 70%;
    height: 1rem;
    bottom: 0.1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../imgs/navbar-gy.png) no-repeat 0rem 0.2rem;
    background-size: cover; }
    .header-gy .navbar .mulu {
      width: 30%;
      height: 80%;
      float: left;
      margin-top: 0.2rem;
      margin-left: 0.1rem; }
    .header-gy .navbar .mark {
      width: 30%;
      height: 80%;
      float: left;
      margin-top: 0.2rem;
      margin-left: 0.1rem; }
    .header-gy .navbar .mynote-gy {
      width: 30%;
      height: 80%;
      float: left;
      margin-top: 0.2rem;
      margin-left: 0.1rem; }

.bookmark {
  width: 100%;
  height: 1.6rem; }
  .bookmark .icon {
    height: 70%;
    margin-top: 0.3rem;
    width: 20%;
    background: url(../imgs/note.png) 0.1rem 0rem no-repeat;
    float: left; }
  .bookmark .content-gy {
    height: 1.6rem;
    float: left;
    width: 80%; }
    .bookmark .content-gy .pos {
      padding-right: 20%;
      height: 50%;
      color: #151C2B;
      font-weight: 700;
      font-size: 0.2rem;
      line-height: 0.9rem;
      letter-spacing: 0.03rem;
      overflow: hidden; }
    .bookmark .content-gy .pos2 {
      padding-right: 20%;
      height: 25%;
      color: #7E7E7E;
      font-size: 0.2rem;
      font-weight: 500;
      overflow: hidden;
      line-height: 0.4rem; }
    .bookmark .content-gy .time {
      padding-right: 20%;
      height: 25%;
      color: #7E7E7E;
      font-size: 0.2rem;
      line-height: 0.4rem; }
      .bookmark .content-gy .time .eye {
        height: 100%;
        width: 25%;
        position: absolute;
        bottom: 0rem;
        right: 20%; }
        .bookmark .content-gy .time .eye .icon {
          width: 50%;
          float: left;
          background: url(../imgs/note.png) 0 -186px no-repeat;
          margin-top: 0; }
        .bookmark .content-gy .time .eye .pos1 {
          float: left; }
