@charset "UTF-8";
html {
  font-size: 100px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "微软雅黑";
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

.header-le3 {
  width: 100%;
  height: 1rem;
  background: #29a6dc;
  position: relative;
}

.header-le3 .header_R {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  right: 0.2rem;
  top: 0.15rem;
  background: url(../imgs/header/header02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-le3 .title {
  width: 50%;
  height: 1rem;
  margin: 0 auto;
  position: relative;
}

.header-le3 .title span {
  color: #D1E8F5;
  font-size: 18px;
  position: absolute;
  top: 0rem;
  left: 1rem;
}

.header-le3 .title img {
  position: absolute;
  top: 0.45rem;
  left: 1.35rem;
  width: 0.8rem;
  height: 0.1rem;
}

.header-le3 .title p {
  color: #84D2F5;
  font-size: 12px;
  position: absolute;
  top: 0.6rem;
  left: 0.76rem;
}

.nav_botle {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1.2rem;
  width: 100%;
}

.nav_botle ul {
  width: 100%;
  height: 100%;
  background: #151C2B;
}

.nav_botle ul li {
  float: left;
  width: 33.3%;
  height: 1.2rem;
  position: relative;
}

.nav_botle ul li img {
  width: 0.6rem;
  height: 0.6rem;
  margin-left: 0.9rem;
  margin-top: 0.1rem;
}

.nav_botle ul li span {
  color: #676869;
  font-size: 14px;
  position: absolute;
  left: 0.9rem;
  top: 0.7rem;
}

.nav_botle ul .sel {
  background-image: url(../imgs/imgle/sel-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav_botle ul .sel span {
  color: #fff;
}

.ban {
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
}

.ban .imgBox {
  width: 90%;
  height: 3.5rem;
  margin: 0.4rem auto;
  box-shadow: 0,0,10px #666666;
}

.ban .imgBox img {
  width: 100%;
  height: 100%;
}

.ban ul {
  width: auto;
  height: 0.3rem;
  position: absolute;
  left: 3rem;
  top: 4.6rem;
}

.ban ul li {
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  border: 1px solid #29A6DC;
  margin-left: 0.2rem;
  margin-top: 0.15rem;
  float: left;
}

.ban ul .blue {
  background: #29A6DC;
}

.news {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}

.news .newTitle {
  height: 1rem;
  padding-left: 0.4rem;
  position: relative;
}

.news .newTitle .i1 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 0.4rem;
  top: 0.05rem;
}

.news .newTitle p {
  font-size: 18px;
  color: #000;
  position: absolute;
  left: 0.95rem;
  top: 0;
}

.news .newTitle span {
  font-size: 12px;
  color: #666;
  position: absolute;
  left: 0.95rem;
  top: 0.4rem;
}

.news .newTitle .i2 {
  width: 0.6rem;
  height: 0.3rem;
  position: absolute;
  left: 2.4rem;
  top: 0.3rem;
}

.news .bookList {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.news .bookList li {
  width: 2.3rem;
  height: 3.2rem;
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
  background-image: url(../imgs/imgle/tu.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.news .bookList li p {
  padding-left: 0.1rem;
  font-size: 15px;
  color: #666;
  position: absolute;
  left: 0.3rem;
  top: 2.3rem;
}

.news .bookList li span {
  padding-left: 0.1rem;
  color: #999;
  font-size: 12px;
  position: absolute;
  left: 0.3rem;
  top: 2.7rem;
}

.rece-le {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}

.rece-le .newTitle {
  height: 1rem;
  padding-left: 0.4rem;
  position: relative;
}

.rece-le .newTitle .i1 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 0.4rem;
  top: 0.05rem;
}

.rece-le .newTitle p {
  font-size: 18px;
  color: #000;
  position: absolute;
  left: 0.95rem;
  top: 0;
}

.rece-le .newTitle span {
  font-size: 12px;
  color: #666;
  position: absolute;
  left: 0.95rem;
  top: 0.4rem;
}

.rece-le .newTitle .i2 {
  width: 0.6rem;
  height: 0.3rem;
  position: absolute;
  left: 2.4rem;
  top: 0.25rem;
}

.rece-le .bookList {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.rece-le .bookList li {
  width: 95%;
  height: 3rem;
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
  background-image: url(../imgs/imgle/bg4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.rece-le .bookList li .p1 {
  font-size: 15px;
  color: #333;
  position: absolute;
  left: 1.8rem;
  top: 0.2rem;
}

.rece-le .bookList li .p2 {
  width: 5rem;
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: hyphenate;
  color: #999;
  font-size: 12px;
  position: absolute;
  left: 1.8rem;
  top: 0.6rem;
}

.rece-le .bookList li .p3 {
  width: 5rem;
  font-size: 14px;
  color: #666;
  position: absolute;
  left: 1.8rem;
  top: 1.15rem;
}

.rece-le .bookList li .p4 {
  width: 5rem;
  font-size: 12px;
  color: #999;
  position: absolute;
  left: 1.8rem;
  top: 1.5rem;
}

.rece-le .bookList li span {
  width: 3.5rem;
  font-size: 12px;
  color: #999;
  position: absolute;
  left: 1.8rem;
  top: 2.3rem;
}

.rece-le .bookList li span .p5 {
  font-size: 12px;
  color: #999;
  float: left;
}

.rece-le .bookList li span .p6 {
  font-size: 12px;
  color: #A5DDF5;
  float: left;
  margin-top: 0.03rem;
}

.rece-le .bookList li span .jindu {
  margin-top: 0.2rem;
  margin-left: 0.1rem;
  height: 0.1rem;
  width: 2rem;
  float: left;
}

.rece-le .bookList li .p7 {
  color: #A0D6EE;
  font-size: 12px;
  position: absolute;
  right: 0.5rem;
  top: 2.27rem;
}
