$screen-list:320px,360px,375px,412px,414px;
$design-size:750px;
html{
    font-size:100px;
}
*{
    padding:0;
    margin:0;
    list-style:none;
}
body{
    font-size:16px;
    font-family: "微软雅黑";
}

@each $i in $screen-list{
    @media screen and (min-width:#{$i}){
         html{
         font-size:100px*$i/$design-size; 
         }
    }
}
img{
    border: none;
}
a{
    text-decoration: none;
}
#headers_lcq{
   width: 100%;
   height: 2.2rem;
   background: #29a6dc;
   width: 1000px; 
   
   .back{
       display: block;
//     height: 0.8rem;
       margin:{
           left: 0.24rem;
           
       }
       img{
          height: 1.2rem;
          width: 1.2rem;
          margin-bottom: -1.4rem;
       }
   }
}
#toper_lcq{
    height: 605px;
    width: 900px;
    background: #fff;
    margin: 12px auto;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 5px #e9effc;
    margin-left: 50px;
    padding:{
        left: 33px;
        right: 33px;
        top: 60px;
    }
    img{
        width: 700px;
        margin-left: 28px;
        height: 360px;
    }
    .list{
        height: 102px;
//      background: red;
        margin-top: 13px;
        .mulu{
            width: 260px;
            height: 68px;
//          background: red;
            border-radius: 40px;
            box-sizing: border-box;
            box-shadow: 0 0 6px #e9effc;
            float: left;
            margin-left: 50px;
            padding:{
                top: 14px;
                bottom: 7px;
            }
            .left-mulu{
                float: left;
               .mulushu{
                display: block;
                width: 49px;
                margin-left: 43px;
//              vertical-align: middle;
                margin-top:-9px;
                height: 50px;
               } 
            }
            .right-mulu{
                float: left;
                
               .ckml{
                display: inline-block;
                color: #2d2d2d;
                font-size: 24px;
                font-weight: 500;
//              line-height:68px;
                margin:{
                    left: 16px;
                    top: 6px;
                    
                }
                
               } 
            }
            
            
        }
        .shujia{
            float: left;
            width: 260px;
            height: 68px;
            border-radius: 40px;
            box-sizing: border-box;
            box-shadow: 0 0 6px #e9effc;
            margin-left:100px;
            padding:{
                top: 14px;
                bottom: 7px;
            }
            .left-shujia{
                float: left;
               .mulushu{
                display: block;
                width: 54px;
                margin-left: 43px;
//              vertical-align: middle;
                margin-top:-9px;
                height: 50px;
               } 
            }
            .right-shujia{
                float: left;
               .ckml{
                display: inline-block;
                color: #2d2d2d;
                font-size: 24px;
                font-weight: 700;
//              line-height:68px;
                margin:{
                    left: 16px;
                    top: 6px;
                    
                }
                
               } 
            }
        }
    }
    .reading{
        width: 270px;
        height: 69px;
        background:#29a6dc;
        border-radius: 40px;
        position: relative;
        margin:{
            top: -3px;
            left: 220px;
        }
        .scirle-a{
            width: 9px;
            height: 9px;
            background: #FFFFFF;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            left: 29px;
        }
        .scirle-b{
            width: 9px;
            height: 9px;
            background: #FFFFFF;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            right: 29px;
        }
        .ljyd{
            margin-left: 75px;
            a{
                display:inline-block;
                font-size: 30px;
                color: #FFFFFF;
                font-weight: 500;
                line-height: 69px;
            }
        }
        
    }
}
#middles_lcq{
//  height: 275px;
    width: 900px;
//  background: red;
    margin:33px auto;
    margin-left: 41px;
    box-sizing: border-box;
    .zxsp{
        width: 296px;
        margin-left: 41px;
    }
    .ping-a{
        height: 154px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 0 5px #e9effc;
        box-sizing: border-box;
        margin-top: 45px;
        
        .left-p{
            width: 100px;
            height: 100%;
//          background: red;
            float: left;
            .pic1{
                margin-left: 20px;
                margin-top: 25px;
                width: 90px;
                height: 92px;
            }
        }
        .right-p{
            width: 800px;
             height: 100%;
//           background: red;
             float: left;
             box-sizing: border-box;
             padding-right: 50px;
             margin:{
                 top:25px;
                 
             }
             .txt1{
                font-size: 22px;
                color: #8e8e8e;
                margin-left: 84px; 
                letter-spacing: 2px;
                img{
                    width: 29px;
                    height: 25px;
                }
                
             }
             
        }
        .line{
            margin-left: 84px;
            margin-top: 10px;
            .lines{
                width: 545px;
            }
        }
        .count{
            margin-left:73px;
            .clocking{
                float: left;
              .clock{
                height: 38px;
                display: inline-block;
               }  
            }
            
            .shijian{
                float: left;
                margin-top: 6px;
                font-size: 18px;
                display: inline-block;
                color: #a4a1a1;
                margin-left: 5px;
            }
        }
        .shoucang{
            margin-left: 536px;
            .clocking{
                float: left;
              .clock{
                height: 38px;
                display: inline-block;
               }  
            }
            
            .shijian{
                float: left;
                margin-top: 6px;
                font-size: 18px;
                display: inline-block;
                color: #a4a1a1;
                margin-left: 5px;
            }
        }
    }
    
}
#mid-bots_lcq{
    width: 900px;
    height: 402px;
    margin:113px auto;
    .my-sqs{
        margin-left: 41px;
        img{
            width: 307px;
            height: 69px;
        }
    }
    .add-sq{
        margin-top: 28px;
        width: 100%;
        height: 83px;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 0 6px #e9effc;
        position: relative;
        margin-left: 41px;
        .add{
            display: inline-block;
            margin-left: 350px;
            img{
              position: absolute;
            top: 0;
            bottom: 0;
            margin:{
                top: auto;
                bottom: auto;
             }  
            }
        }
        .tjsq{
            display: inline-block;
//          margin-top: 32px;
            margin-left: 45px;
            color: #656565;
            font-size: 22px;
            line-height: 83px;
        }
    }
    .my-bj{
       
        margin-top: 28px;
//      margin-left: 41px;
        img{
            width: 369px;
            height: 88px;
        }
    }
    .add-sq{
        margin-top: 28px;
        width: 100%;
        height: 83px;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 0 6px #e9effc;
        position: relative;
        .add{
            display: inline-block;
            margin-left: 350px;
            img{
              position: absolute;
            top: 0;
            bottom: 0;
            margin:{
                top: auto;
                bottom: auto;
             }  
            }
        }
        .tjsq{
            display: inline-block;
//          margin-top: 32px;
            margin-left: 45px;
            color: #656565;
            font-size: 22px;
            line-height: 83px;
        }
    }
}
#bottoms_lcq{
    width: 900px;
    height: 480px;
    margin: 12px auto;
    .sxsj{
//      margin-left: -12px;
        img{
            width: 369px;
            height: 88px;
        }
    }
    .books{
        .tu{
            margin-left: 10px;
            width: 284px;
            height: 376px;
        }
        position: relative;
        .dian{
           width: 100%;
           height: 20px;
           
           margin: 10px auto;
           .yuan{
               position: absolute;
               background: #0090ff;
               width: 8px;
               height: 8px;
               border-radius: 50%;
               float: left;
               left: 400px;
           }
           .yuan2{
               position: absolute;
               border: 2px solid #0090ff;
               box-sizing: border-box;
               width: 8px;
               height: 8px;
               border-radius: 50%;
               float: left;
               left: 420px;
              
           }
           .yuan3{
               position: absolute;
               border: 2px solid #0090ff;
               box-sizing: border-box;
               width: 8px;
               height: 8px;
               border-radius: 50%;
               float: left;
               left: 440px;
             
           }
        }
    }
    
}
