@charset "UTF-8";
html {
  font-size: 100px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "微软雅黑";
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

img {
  border: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
  height: 1.28rem;
  background: #29a6dc;
}

#header .back {
  display: block;
  height: 0.8rem;
  margin-left: 0.24rem;
}

#header .back img {
  height: 0.8rem;
  margin-bottom: -0.8rem;
}

#toper {
  height: 605px;
  width: 900px;
  background: #fff;
  margin: 12px auto;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 5px #e9effc;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 60px;
}

#toper img {
  width: 700px;
  margin-left: 28px;
}

#toper .list {
  height: 102px;
  margin-top: 13px;
}

#toper .list .mulu {
  width: 260px;
  height: 68px;
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 6px #e9effc;
  float: left;
  margin-left: 50px;
  padding-top: 14px;
  padding-bottom: 7px;
}

#toper .list .mulu .left-mulu {
  float: left;
}

#toper .list .mulu .left-mulu .mulushu {
  display: block;
  width: 49px;
  margin-left: 43px;
  margin-top: -9px;
}

#toper .list .mulu .right-mulu {
  float: left;
}

#toper .list .mulu .right-mulu .ckml {
  display: inline-block;
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 500;
  margin-left: 16px;
  margin-top: 6px;
}

#toper .list .shujia {
  float: left;
  width: 260px;
  height: 68px;
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 6px #e9effc;
  margin-left: 100px;
  padding-top: 14px;
  padding-bottom: 7px;
}

#toper .list .shujia .left-shujia {
  float: left;
}

#toper .list .shujia .left-shujia .mulushu {
  display: block;
  width: 54px;
  margin-left: 43px;
  margin-top: -9px;
}

#toper .list .shujia .right-shujia {
  float: left;
}

#toper .list .shujia .right-shujia .ckml {
  display: inline-block;
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 700;
  margin-left: 16px;
  margin-top: 6px;
}

#toper .reading {
  width: 270px;
  height: 69px;
  background: #29a6dc;
  border-radius: 40px;
  position: relative;
  margin-top: -3px;
  margin-left: 220px;
}

#toper .reading .scirle-a {
  width: 9px;
  height: 9px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 29px;
}

#toper .reading .scirle-b {
  width: 9px;
  height: 9px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 29px;
}

#toper .reading .ljyd {
  margin-left: 75px;
}

#toper .reading .ljyd a {
  display: inline-block;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 69px;
}

#middles {
  height: 275px;
  width: 900px;
  margin: 33px auto;
  box-sizing: border-box;
}

#middles .zxsp {
  width: 296px;
  margin-left: 16px;
}

#middles .ping-a {
  height: 154px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 5px #e9effc;
  box-sizing: border-box;
  margin-top: 45px;
}

#middles .ping-a .left-p {
  width: 100px;
  height: 100%;
  float: left;
}

#middles .ping-a .left-p .pic1 {
  margin-left: 20px;
  margin-top: 25px;
}

#middles .ping-a .right-p {
  width: 800px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding-right: 50px;
  margin-top: 25px;
}

#middles .ping-a .right-p .txt1 {
  font-size: 22px;
  color: #8e8e8e;
  margin-left: 84px;
  letter-spacing: 2px;
}

#middles .ping-a .line {
  margin-left: 84px;
  margin-top: 10px;
}

#middles .ping-a .line .lines {
  width: 545px;
}

#middles .ping-a .count {
  margin-left: 73px;
}

#middles .ping-a .count .clocking {
  float: left;
}

#middles .ping-a .count .clocking .clock {
  height: 38px;
  display: inline-block;
}

#middles .ping-a .count .shijian {
  float: left;
  margin-top: 6px;
  font-size: 18px;
  display: inline-block;
  color: #a4a1a1;
  margin-left: 5px;
}

#middles .ping-a .shoucang {
  margin-left: 536px;
}

#middles .ping-a .shoucang .clocking {
  float: left;
}

#middles .ping-a .shoucang .clocking .clock {
  height: 38px;
  display: inline-block;
}

#middles .ping-a .shoucang .shijian {
  float: left;
  margin-top: 6px;
  font-size: 18px;
  display: inline-block;
  color: #a4a1a1;
  margin-left: 5px;
}

#mid-bots {
  width: 900px;
  height: 402px;
  margin: 113px auto;
}

#mid-bots .my-sqs {
  margin-left: 16px;
}

#mid-bots .add-sq {
  margin-top: 28px;
  width: 100%;
  height: 83px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 6px #e9effc;
  position: relative;
}

#mid-bots .add-sq .add {
  display: inline-block;
  margin-left: 350px;
}

#mid-bots .add-sq .add img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#mid-bots .add-sq .tjsq {
  display: inline-block;
  margin-left: 45px;
  color: #656565;
  font-size: 22px;
  line-height: 83px;
}

#mid-bots .my-bj {
  margin-left: -23px;
  margin-top: 28px;
}

#mid-bots .add-sq {
  margin-top: 28px;
  width: 100%;
  height: 83px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 6px #e9effc;
  position: relative;
}

#mid-bots .add-sq .add {
  display: inline-block;
  margin-left: 350px;
}

#mid-bots .add-sq .add img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#mid-bots .add-sq .tjsq {
  display: inline-block;
  margin-left: 45px;
  color: #656565;
  font-size: 22px;
  line-height: 83px;
}

#bottoms {
  width: 900px;
  height: 480px;
  margin: 12px auto;
}

#bottoms .sxsj {
  margin-left: -12px;
}

#bottoms .books {
  position: relative;
}

#bottoms .books .tu {
  margin-left: 10px;
}

#bottoms .books .dian {
  width: 100%;
  height: 20px;
  margin: 10px auto;
}

#bottoms .books .dian .yuan {
  position: absolute;
  background: #0090ff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
  left: 400px;
}

#bottoms .books .dian .yuan2 {
  position: absolute;
  border: 2px solid #0090ff;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
  left: 420px;
}

#bottoms .books .dian .yuan3 {
  position: absolute;
  border: 2px solid #0090ff;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
  left: 440px;
}
