@import url("../../../css/base.css");
._w5Dbox{
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	left:0;
	top:0;
	background: #ffe7a7;
}
._w5Topx{
	width: 90%;
	height: 2px;
	background:red;
	position: relative;
	margin-right: auto;
	margin-left:auto;
	margin-top:0.4rem;
	margin-bottom: 0.4rem;
}
._w5nongm{
	position: absolute;
	width:1.3rem;
	left:0.2rem;
	top:-0.1rem;
	color:#7b6c55;
	background:#ffe7a7 ;
	font-size: 12px;
	text-align: center;
	
}
._w5text1{
	padding-left:0.3rem;
	padding-right:0.2rem;
}
._w5text1 p{
	margin-top:0.1rem;
	margin-bottom: 0.2rem;
	font-size: 12px;
	line-height: 16px;
	color:#7b6c55;
}
._w5dibu{
	width: 100%;
	height: 0.6rem;
	position: absolute;
	bottom:0;
	z-index: 1;
	background: #ffe7a7;
}
._w5jindu{
	margin-left:0.2rem;
	float: left;
}
._w5shudu{
	display: block;
	float: right;
	margin-right:0.2rem;
}
