@charset "UTF-8";
html {
  font-size: 100px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "微软雅黑";
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

img {
  border: none;
}

a {
  text-decoration: none;
}

#headering_lcq {
  width: 100%;
  height: 2.2rem;
  background: #29a6dc;
}

#headering_lcq .back {
  display: block;
  margin-left: 0.24rem;
}

#headering_lcq .back img {
  height: 1.2rem;
  margin-bottom: -1.4rem;
}

#toping_lcq {
  width: 100%;
  box-sizing: border-box;
  margin-top: 41px;
}

#toping_lcq .my-sq {
  margin-left: 48px;
  margin-top: 71px;
}

#toping_lcq .first {
  margin-left: 61px;
  margin-top: 21px;
  height: 115px;
}

#toping_lcq .first .first-left {
  width: 78px;
  height: 100%;
  float: left;
}

#toping_lcq .first .first-left .qian {
  width: 74px;
}

#toping_lcq .first .first-right {
  width: 540px;
  height: 100%;
  float: left;
  position: relative;
  margin-left: 84px;
}

#toping_lcq .first .first-right .first-title {
  font-size: 24px;
  color: #151c2b;
  font-weight: 600;
}

#toping_lcq .first .first-right .cont {
  color: #505050;
  font-size: 18px;
  margin-top: 12px;
}

#toping_lcq .first .first-right .sj {
  display: inline-block;
  margin-top: 16px;
}

#toping_lcq .first .first-right .sj img {
  width: 59px;
}

#toping_lcq .first .first-right .eye {
  margin-top: 16px;
  position: absolute;
  right: -30px;
  display: inline-block;
}

#toping_lcq .first .first-right .eye .eyes {
  display: inline-block;
}

#toping_lcq .first .first-right .eye .percity {
  display: inline-block;
}

#toping_lcq .lang img {
  width: 100%;
}

#middleing_lcq {
  width: 900px;
  height: 655px;
  margin: 55px auto;
}

#middleing_lcq .reading {
  width: 222px;
  height: 39px;
  background: #29a6dc;
  border-radius: 30px;
  position: relative;
  margin-left: 308px;
}

#middleing_lcq .reading .scirle-a {
  width: 7px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 29px;
}

#middleing_lcq .reading .scirle-b {
  width: 7px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 29px;
}

#middleing_lcq .reading .ljyd {
  margin-left: 63px;
}

#middleing_lcq .reading .ljyd a {
  display: inline-block;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 39px;
}

#middleing_lcq .my-biji {
  margin-top: 41px;
}

#middleing_lcq .cont1 {
  width: 900px;
  height: 83px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 5px #e9effc;
  margin-top: 28px;
}

#middleing_lcq .cont1 .cir1 {
  margin-left: 18px;
  margin-top: 20px;
}

#middleing_lcq .cont1 .texts-a {
  font-size: 22px;
  color: #858585;
  letter-spacing: 2px;
  margin-left: 56px;
}

#middleing_lcq .cont2 {
  width: 900px;
  height: 114px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 5px #e9effc;
  margin-top: 28px;
  position: relative;
}

#middleing_lcq .cont2 .cir1 {
  position: absolute;
  display: inline-block;
  left: 18px;
  top: 16px;
}

#middleing_lcq .cont2 .texts-a {
  margin-left: 55px;
  margin-top: 16px;
  display: inline-block;
  font-size: 22px;
  color: #858585;
  letter-spacing: 2px;
}

#middleing_lcq .cont2 .biao {
  position: absolute;
  width: 130px;
  height: 36px;
  right: 205px;
  bottom: 1px;
}

#middleing_lcq .cont2 .biao .clk {
  display: inline-block;
}

#middleing_lcq .cont2 .biao .date {
  display: inline-block;
  position: absolute;
  right: -22px;
  bottom: 4px;
  color: #cfcfcf;
  font-size: 22px;
}

#bottoming_lcq {
  height: 544px;
  width: 900px;
  margin: 54px auto;
}

#bottoming_lcq .reading {
  width: 222px;
  height: 39px;
  background: #29a6dc;
  border-radius: 30px;
  position: relative;
  margin-left: 308px;
}

#bottoming_lcq .reading .scirle-a {
  width: 7px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 29px;
}

#bottoming_lcq .reading .scirle-b {
  width: 7px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 29px;
}

#bottoming_lcq .reading .ljyd {
  margin-left: 63px;
}

#bottoming_lcq .reading .ljyd a {
  display: inline-block;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 39px;
}

#bottoming_lcq .sxsj {
  margin-left: -12px;
}

#bottoming_lcq .books {
  position: relative;
}

#bottoming_lcq .books .tu {
  margin-left: 10px;
}

#bottoming_lcq .books .dian {
  width: 100%;
  height: 20px;
  margin: 10px auto;
}

#bottoming_lcq .books .dian .yuan {
  position: absolute;
  background: #0090ff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
  left: 400px;
}

#bottoming_lcq .books .dian .yuan2 {
  position: absolute;
  border: 2px solid #0090ff;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
  left: 420px;
}

#bottoming_lcq .books .dian .yuan3 {
  position: absolute;
  border: 2px solid #0090ff;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: left;
  left: 440px;
}
